body{
    background-color: #16161D;    
}

.top-nav{
    width: 91%;
    top: 0;
    right: 0;
    position: fixed;
    background-color: #16161D;    
    z-index: 3;
}

.side-nav{
    position: fixed;
    width: 123px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #16161D;    
    color: #ffffff;
    background: #16161D;   
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}
.line{
    position: static;
    width: 1px;        
    background-color: #FFFFFF;
}

.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: center;    
    align-items: center;
    padding: 0px;
    transform: rotate(90deg);
    color: #FFFFFF;
}

.nav-item .nav-item a{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
}

.nav-list .nav-item{
    margin:0px 10px;
    color: #FFFFFF;
    text-decoration: unset;
    transition: all 0.5s ease;
}

.nav-list.sosial-media .nav-item{
    
    transform: rotate(-90deg);
    
}

.nav-list .nav-item:hover{
    transform: scale(1.1);
    font-weight: 500;
    transition: transform 0.5s ease;
    
}

.events-date{
    width: 750px;    
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 0px 10px;
    position: relative;
    margin: auto;
    background-color: #16161D;
}

.title h1{ 
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 130px;
    line-height: 170px;

    letter-spacing: -2px;
    color: #FFFFFF;    
}

.title h5{ 
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;    

    letter-spacing: -2px;
    color: #FFFFFF;
}

.title p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}

.dj{
    width: 338px;
    height: 408px;
    margin-right: 50px;
}

.dj .content-border{
    width: 338px;
    height: 338px;
    left: 0px;
    top: 0px;

    border: 1px solid #FFFFFF;
    box-sizing: border-box;

    padding: 10px;
}

.dj .bg-dj{
    background-color: #000000;
    width: 100%;
    height: 100%;
    background-position: center !important;
    background-size: cover !important;
    
}

.dj.active .detail{
    opacity: 1;
    position: relative;
    padding: 10px;
    width: 338px;
    height:75px;
    background-color: rgba(255, 255, 255, 0.25);
}


.dj .detail{
    opacity: 0;
    position: relative;
    padding: 0px;
    width: 338px;
    height:0px;
    background-color: rgba(255, 255, 255, 0.25);
    transition: all 0.8s ease;
}

.dj:hover .detail{
    padding: 10px;
    height:75px;
    transition: all 0.8s ease;
    color: #FFFFFF !important;
    opacity: 1;
}


.dj .detail h1{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    color: #FFFFFF;
}

.dj .detail p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    margin: 0;    
    color: #FFFFFF;
}
.slick-prev{
    display: none !important;
}

.slick-next{
    display: none !important;
}

/* about */

.about{
    padding: 60px 0px 20px 0px;
}
.about .content{
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.about .content h1{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;

    letter-spacing: -2px;
    color: #FFFFFF;    
}

.about .content p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 30px 0px;
}

.about .content .btn.btn-white{
    padding: 10px 20px;
    background: #ffffff;
    border: none;
    font-size: 20px;
    font-weight: 600;
}
hr{
    background-color: #ffffff;
}


footer{
    padding: 0px 0px 20px 0px;
}
footer a{
    color: #ffffff !important;    ;
}

.overlay-loading {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0%;
    z-index: 50;
    background: #16161D;
}


.first {
    top: 0;
}

.second {
    top: 33.3%;
}

.third {
    top: 66.6%;
}

.hosted-server h1{
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 50px;
}

.music-svg{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.music-svg #pause-stream{
    display: none;
}

.music-svg .active{
    display: block;
}

.music-svg:hover .active{    
    display: unset !important;
}
.music-svg a{
    position: absolute;
    font-size: 26px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    width: 45px;
    height: 45px;
    text-align: center;    
    padding-left: 2px;
    padding-top: 3px;
    opacity: 1 !important;
    transition: all 0.5s ease;
    z-index: 2;
}

.music-svg a:hover{
    opacity: 0.5 !important;
    transition: all 0.5s ease;
    
}

.line-svg{
    transform: rotate(-180deg);
    opacity: 0.5;
}

.btn-fill{
    border-radius: 5px;
    border: none;
    background: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 2px 20px;
    color: #000;
}

.btn-rounded{
    border-radius: 5px;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0);
    font-size: 18px;
    font-weight: 600;
    padding: 2px 20px;
    color: #fff;
}

.list-btn button:hover{
    opacity: 0.5;
    transition: all 0.5s ease;
}

.video-player{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;            
    width: max-content;
    height: auto;

    padding: 20px 10px;
    background-color: #000;
    border: 1px solid white ;
    border-radius: 5px;
    color: #fff;

    margin-top: -300px; 
    margin-left: -330px;

    z-index: 20;
}

.video-player .close-modal{
    position: absolute;
    float: right;
    background: none;
    border: none;
    color: #fff;
    font-size: 30px;
    top: -13px;    
    right: 10px;
}

#open-video{
    border: none;
    background: rgba(255, 255, 255, 0);
    font-size: 18px;
    font-weight: 600;    
    color: #fff;
}
.modal-play{
    position: fixed;
    top: 50%;
    left: 50%;            
    width: 500px;
    height: auto;

    padding: 30px 20px;
    background-color: #000;
    border: 1px solid white ;
    border-radius: 5px;
    color: #fff;

    margin-top: -100px; 
    margin-left: -250px;

    z-index: 30;
}
.close-modal{
    position: relative;
    float: right;
    background: none;
    border: none;
    color: #fff;
    font-size: 30px;
    top: -30px;
}
/* join */
.join{
    padding: 30px 0px 20px 50px;
}
.join .content{
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.join .content h1{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;

    letter-spacing: -2px;
    color: #FFFFFF;    
}

.join .content p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 30px 0px;
}

.join .content .btn.btn-white{
    padding: 10px 20px;
    background: #ffffff;
    border: none;
    font-size: 20px;
    font-weight: 600;
}
.content-step{
    display: flex;
    flex-wrap: wrap;
}
.content-step img{
    width: auto;
    height: 300px;
    margin-right: 10px;
}
.content .btn.btn-white:hover{
    opacity: 0.5 !important;
    transition: all 0.5s ease;
}
@media only screen and (min-device-width : 360px) and (max-device-width : 640px)  {
    .join{
        padding: 30px 0px 20px 10px;
    }
    .content-step img{
        height: auto;
        width: 100%;
    }
    .modal-play {
        width: 250px;
        margin-left: -115px;
        margin-top: -160px;
    }
    .top-nav{        
        width: 85% !important;
    }
    .side-nav .line{
        height: 35px !important;
    }
    .side-nav{        
        background: #ffffff00;
        width: 50px;
    }
    .side-nav img{
        width: 60px;
        height: 60px;
    }
    .list-dj{
        display: none;
    }
    .hosted-server h1{
        font-size: 30px;
    }
    
    .title h1 {    
        font-size: 80px;      
        line-height: 75px;
    }
    .music-svg{
        padding: 0 !important;    
        padding-bottom: 30px !important;
    }
    .player-control{
        height: 180px;
        padding-bottom: 50px !important;                
    }
    .home-row{
        margin-left: 30px !important;
    }
    .music-svg svg{
        width: 230px;
    }
    .title {
        padding-top: 40px !important;
    }

    .dj .content-border {
        width: 270px;
        height: 270px;        
    }

    .dj.active .detail {
        opacity: 0;
        width: 270px !important;            
    }

    .dj .detail {
        opacity: 0;        
        width: 270px !important;    
    }

    .dj:hover .detail {
        opacity: 0;
        width: 270px !important;    
    }

    .slick-active .detail {
        width: 270px !important;    
        padding: 10px;
        height: 75px;        
        color: #FFFFFF !important;
        opacity: 1 !important;
    }

    .video-player #player{
        width: 100px;
        opacity: 0;
    }
    
    .video-player.active #player{
        width: 300px !important;
        opacity: 1 !important;
    }

    .video-player.active{
        margin-top: -200px !important;
        margin-left: -165px !important;
    }
}